@font-face {
  font-family: "Inter";
  src: url("../fonts/static/Inter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

// If you have more weights or styles, you can add more declarations:
@font-face {
  font-family: "Inter";
  src: url("../fonts/static/Inter-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

:root {
  // Variables

  // Colors
  --color-blue: rgb(52, 95, 246);
  --color-gunmetal: rgb(37, 51, 71);
  --color-darkElectricBlue: rgb(94, 110, 133);
  --color-blueGradient: linear-gradient(to bottom right, white, #d6e6fe);

  // Typography
  --heading-xl: 64px;
  --heading-l: 48px;
  --heading-m: 32px;
  --heading-s: 24px;
  --heading-xs: 20px;

  --font-size-m: 16px;
  --font-size-s: 14px;

  // Content spacing
  --wrapper-width-l: 80.56vw;
  --wrapper-width-m: 89.323vw;
  --wrapper-width-s: 87.2vw;

  --spacing-l: 140px;
  --spacing-m: 32px;
  --spacing-s: 24px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: white;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  color: var(--color-darkElectricBlue);
  line-height: 150%;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--color-gunmetal);
  font-weight: 600;
  letter-spacing: -1.5px;
  line-height: 110%;
}

h1 {
  font-size: var(--heading-l);
}

h2 {
  font-size: var(--heading-s);
}

h3 {
  font-size: 1rem;
}

h4 {
  font-size: var(--heading-m);
}

h5 {
  font-size: var(--heading-xs);
}
