.headArticle {
    // Flex
    display: flex;
    flex-direction: column;
    align-items: center;
    // Spacing
    margin-bottom: var(--spacing-s);
    row-gap: var(--spacing-s);
    // Positioning
    text-align: center;
}
