.homePage {
    // Flex
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    // Spacing
    margin-top: var(--spacing-m);
    row-gap: var(--spacing-s); // This is the minimum spacing between components
}
