.calculatorBox {
    // Flex
    display: flex;

    flex-direction: column;
    row-gap: var(--spacing-s);
    // Styles
    background-color: white;
    // Form
    padding: var(--spacing-s);
    border-radius: 10px;

    &__heading {
        font-size: var(--heading-s);
    }

    &__unitsDiv {
        //Flex
        display: flex;

        align-items: center;
        column-gap: var(--spacing-s);

        &__unit {
            // Flex
            display: flex;

            column-gap: 18px;
            // Dimensions
            width: 128px; // This value should be temporary
            &__type {
                display: flex;

                align-items: center;
                // Typography
                font-weight: 600;
            }
        }
    }

    &__inputDiv {
        // Flex
        display: flex;
        flex-direction: column;
        row-gap: 8px;

        &__label {
            color: #5e6e85;
            font-size: var(--font-size-s);
        }
    }
}
